---
breadcrumb: VMware Tanzu RabbitMQ for VMs Documentation
title: Using the RabbitMQ Management UI
owner: London Services
---

This topic describes how to access the RabbitMQ Management UI.


## <a id="overview"></a> Overview

You can access the Management UI for both on-demand and pre-provisioned service instances.
The image below shows an example RabbitMQ Management UI.

<%= image_tag("images/dashboard.jpeg",
:alt => "Screenshot of the RabbitMQ Management UI.
The 'Overview' tab is highlighted in orange.
The body has an 'Overview' header and several sections, including 'Totals', 'Nodes', and 'Ports and
contents'.") %>


## <a id="access-ui-pp"></a> Access RabbitMQ Management UI for Pre-Provisioned Service Instances

To access the RabbitMQ Management UI as the `admin` user:

1. Navigate to your <%= vars.app_runtime_full %> tile.

1. In the **Domains** tab, record the value in the **System Domain** field.

1. Navigate to `http://pivotal-rabbitmq.SYS-DOMAIN`, where `SYS-DOMAIN` is the value you recorded
from the **System Domain** field.

1. When prompted for credentials, enter the username and password you provided in the
<%= vars.product_short %> tile configuration in <%= vars.ops_manager %>.


## <a id="access-ui-od"></a> Access RabbitMQ Management UI for On-Demand Service Instances

The options available for accessing RabbitMQ Management UI depend on whether you have OAuth enabled.


### <a id="ui-with-oa"></a> Access RabbitMQ Management UI with OAuth Enabled

If OAuth is enabled, you can access the RabbitMQ Management UI for an on-demand service instance
with your <%= vars.app_runtime_abbr %> credentials.

You can retrieve the URL for the RabbitMQ Management UI using Apps Manager or the Cloud Foundry
Command Line Interface (cf CLI).

**If using the cf CLI:**

1. Navigate to the `dashboard_url` shown by `cf service SERVICE-INSTANCE-NAME`.

1. Sign in using your <%= vars.app_runtime_abbr %> username and password.

**If using Apps Manager:**

1. Navigate to the service instance you want to manage.

1. Click **Manage**.


### <a id="ui-without-oa"></a> Access RabbitMQ Management UI without OAuth Enabled

If OAuth is not enabled, you can access the RabbitMQ Management UI for an on-demand service instance
using Apps Manager or the cf CLI.
You do so by using credentials that grant access only to a specific virtual host.

**If using the cf CLI:**

1. Create credentials using the cf CLI.
For more information, see
[Create an Admin User for a Service Instance](./install-config.html#admin-service-key).

1. Navigate to the URL in `dashboard_url` that you acquired during the
[Create an Admin User for a Service Instance](./install-config.html#admin-service-key) procedure.

1. Log in to the RabbitMQ Management UI with the username and password you acquired during the
[Create an Admin User for a Service Instance](./install-config.html#admin-service-key) procedure.

**If using Apps Manager:**

1. In Apps Manager, navigate to the service instance you want to manage.

1. Click **CREATE SERVICE KEY** and give it a name of your choice.

    <%= image_tag("images/console_manage.png",
    :alt => "Screenshot of an example space management page in the Apps Manager UI.
    To the right of the 'Service Key Credentials' header is a button labeled 'Create Service Key'.
    The button is outlined in red to indicate its location.") %>

1. From the **Service Key Credentials** section, select the service key you just created.

1. From the information displayed, navigate to the URL in `dashboard_url` and then use the username
and password to log in to the RabbitMQ Management UI.
