---
title: VMware Tanzu RabbitMQ for VMs Release Notes
owner: London Services
---

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="lts"></a> Long-Term Support for <%= vars.product_full %> v2.0

<%= partial vars.path_to_partials + '/services/services-lts-notice', :locals => {
  :eogs_date => "April 2024"} %>

## <a id="2-0-9"></a> v2.0.9

**Release Date**: January 20, 2022

### Features

New features and changes in this release:

* **User privilege tags:**
It is now possible to configure any valid user privilege tag when creating service keys for
on-demand instances.
For more information, see
[Creating Users with Other Privilege Levels](install-config.html#service-key-tags).

### Resolved Issues

This release has the following fixes:

* **TLS support:** The on-demand broker now communicates with the Cloud Foundry Cloud Controller over TLS.
* **OAuth2 errors are fixed:** OAuth2 identification no longer hits errors when configured.

### Known Issues

This release has the following issue:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th>   <tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x, 2.11.x, 2.12.x</td>
  </tr>
  <tr>
    <td>Erlang</td>
    <td>24.2</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.8.27, 3.9.12</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.15</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.36.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>413.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>106.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>117.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>60.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.3.7</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.42.3</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>67.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>194.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.228.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.15</td>
  </tr>
</table>

<sup>*</sup>For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.27">v3.8.27</a> and
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.9.12">v3.9.12</a> GitHub documentation.

## <a id="2-0-8"></a> v2.0.8

**Release Date**: December 6, 2021

### Resolved Issues

This release has the following fixes:

* TLS v1.2 support is restored.

* Improved network partition detection.

* Instances running RabbitMQ v3.8 now emit disk and memory alarm metrics to the Loggregator subsystem.


### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

* **OAuth2 errors:** Enabling OAuth2 identification for RabbitMQ causes errors. This is fixed in v2.0.9.

* **TLS support:** The on-demand broker does not support secure communications with the
Cloud Controller over TLS. This is fixed in v2.0.9.

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th>   <tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x, 2.11.x, 2.12.x</td>
  </tr>
  <tr>
    <td>Erlang</td>
    <td>24.1.5</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.8.25, 3.9.9</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.15</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.35.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>406.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>104.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>115.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>58.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.3.5</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.42.3</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>65.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>191.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.226.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.14</td>
  </tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.25">v3.8.25</a> and
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.9.9">v3.9.9</a> GitHub documentation.

## <a id="2-0-7"></a> v2.0.7 - Withdrawn

**This release has been removed from Pivotal Network** due to an issue in Erlang OTP v24.1.2
that causes TLS 1.2 to be unsupported.

This issue is fixed in <%= vars.product_short %> v2.0.8.

**Release Date**: November 10, 2021

### Features

New features and changes in this release:

* **RabbitMQ Streams:**
You now have the option to configure RabbitMQ v3.9 and RabbitMQ Streams.
For more information, see [Enable Extra RabbitMQ Server Plugins](install-config.html#optional-plugins)
and [Configure the Service Plan](install-config.html#service-plan).

* **Filtering per-object Prometheus metrics:**
You can now filter the set of per-object metrics scraped from your RabbitMQ service instances if you are using
a Prometheus deployment. This reduces performance impact.
For more information, see [(on-demand) Filter the Per-Object Metrics](monitor.html#filter-per-object) or
[(pre-provisioned) Filter the Per-Object Metrics](monitor-pp.html#filter-per-object).

### Resolved Issues

This release has the following fix:

* **Smoke tests for the pre-provisioned offering no longer fail if mTLS is enabled:**
Smoke tests with mTLS enabled require additional configuration.
For more information, see [Provide SSL Certificates](install-config-pp.html#ssl).

### Known Issues

This release has the following issue:

* **TLS 1.2 unsupported:** Due to an issue in Erlang OTP v24.1.2, when TLS is enabled, only TLS 1.3 is supported.

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

* **OAuth2 errors:** Enabling OAuth2 identification for RabbitMQ results in errors.

* **TLS support:** The on-demand broker does not support secure communications with the Cloud Controller over TLS. This is fixed in v2.0.9.

* **Disk and memory alarm metrics:** Instances running RabbitMQ v3.8 do not emit disk
and memory alarm metrics to the Loggregator subsystem.


### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th>   <tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x, 2.11.x, 2.12.x</td>
  </tr>
  <tr>
    <td>Erlang</td>
    <td>24.1.2</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.8.23 and 3.9.8</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.15</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.34.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>404.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>103.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>113.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>57.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.3.4</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.42.2</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>64.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>190.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.225.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.14</td>
  </tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.25">v3.8.23</a> and
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.9.8">v3.9.8</a> GitHub documentation.

## <a id="2-0-6"></a> v2.0.6

**Release Date**: September 17, 2021

### Resolved Issues

This release has the following fixes:

* **Management UI logs are rotated:** This release re-introduces a cron job that
rotates logs from the Management UI. This prevents old logs piling up and using all available disk space.
* **Prometheus endpoint with TLS no longer breaks the `prom_scraper` job:** Configuring the
Prometheus endpoint to use TLS no longer breaks the `prom_scraper` job.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

* **Smoke tests for the pre-provisioned offering fail if mTLS is enabled:**
This is fixed in v2.0.7, but requires additional configuration.
See [Provide SSL Certificates](install-config-pp.html#ssl) for details.

* **OAuth2 errors:** Enabling OAuth2 identification for RabbitMQ results in errors.

* **TLS support:** The on-demand broker does not support secure communications with the Cloud Controller over TLS. This is fixed in v2.0.9.

* **Disk and memory alarm metrics:** Instances running RabbitMQ v3.8 do not emit disk
and memory alarm metrics to the Loggregator subsystem.

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th>   <tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x, 2.11.x</td>
  </tr>
  <tr>
    <td>Erlang</td>
    <td>23.3.4.6</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.8.22</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.13</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.33.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>388.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>101.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>106.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>55.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.3.4</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.42.1</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>62.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>185.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.223.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.14</td>
  </tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.22">v3.8.22</a> GitHub documentation.

## <a id="2-0-5"></a> v2.0.5

**Release Date**: August 27, 2021

### Resolved Issues

This release has the following fixes:

* **Queues with per-message TTL failing to recover indexes after a restart:**<br>
  This release sets the `origin` field to `p-rabbitmq` for metrics in the Loggregator subsystem and
  upgrades RabbitMQ to v3.8.21.<br>
  These changes enable queues with per-message TTL to recover indexes after a restart.
  For more information, see [issue 3272](https://github.com/rabbitmq/rabbitmq-server/discussions/3272) in GitHub.
* **Metrics in the Loggregator subsystem lack an origin tag:**<br>
  This release enables configuration of arbitrary labels, which means labels can be specified when
  deploying `cf-rabbitmq-release`. For more information, see
  [issue 75](https://github.com/pivotal-cf/p-rabbitmq/issues/75) in GitHub.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

* **HTTP access logs can build up on disk and are not rotated as expected:** This is fixed in v2.0.6.

* **Smoke tests for the pre-provisioned offering fail if mTLS is enabled:**
This is fixed in v2.0.7, but requires additional configuration.
See [Provide SSL Certificates](install-config-pp.html#ssl) for details.

* **TLS support:** The on-demand broker does not support secure communications with the Cloud Controller over TLS. This is fixed in v2.0.9.

* **Disk and memory alarm metrics:** Instances running RabbitMQ v3.8 do not emit disk
and memory alarm metrics to the Loggregator subsystem.

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th>   <tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x, 2.11.x</td>
  </tr>
  <tr>
    <td>Erlang</td>
    <td>23.3.4.5</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.8.21</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.13</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.32.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>385.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>100.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>105.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>53.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.3.3</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.42.1</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>61.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>184.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.221.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.14</td>
  </tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.21">v3.8.21</a> GitHub documentation.


## <a id="2-0-4"></a> v2.0.4

**Release Date**: July 14, 2021

### Maintenance Changes

Maintenance change in this release:

* **Updated RabbitMQ to v3.8.18 and Erlang to v24:** For more information, see
[RabbitMQ 3.8.18](https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.18) in GitHub.

### Resolved Issues

This release has the following fixes:

* **Smoke tests:** This version fixes an issue that caused the smoke tests to fail with a buildpack error on the latest TAS versions.
* **Grafana Dashboards for on-demand instances:** This version fixes a issue which caused Grafana dashboards for on-demand instances to fail rendering.

### Features

New features and changes in this release:

* **Inter-node TLS:** You can now configure TLS between RabbitMQ nodes. For more information about inter-node TLS,
  see [Securing Inter-node Traffic with TLS](secure-inter-node.html).

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

* **Duplicated RabbitMQ server metrics when both the Healthwatch Exporter for TAS and the Healthwatch tile are installed:**
For v2 of the Healthwatch tile, installing the Healthwatch Exporter for TAS along with the
Healthwatch tile results in duplicated metrics. This is because Heathwatch scrapes the metrics from
both the Prometheus port of the RabbitMQ service instance and from the Loggregator system of TAS.

* **HTTP access logs can build up on disk and are not rotated as expected:** This is fixed in v2.0.6.

* **Smoke tests for the pre-provisioned offering fail if mTLS is enabled:**
This is fixed in v2.0.7, but requires additional configuration.
See [Provide SSL Certificates](install-config-pp.html#ssl) for details.

* **TLS support:** The on-demand broker does not support secure communications with the Cloud Controller over TLS. This is fixed in v2.0.9.

* **Disk and memory alarm metrics:** Instances running RabbitMQ v3.8 do not emit disk
and memory alarm metrics to the Loggregator subsystem.

### Compatibility

The following components are compatible with this release:

<table class="nice">
<th>Component</th>
<th>Version</th>
  <tr>
    <td>Erlang</td>
    <td>24.0.2</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.8.18</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td><%= vars.app_runtime_full%></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.12</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.32.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>382.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>98.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>103.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>51.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.3.3</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.42.0</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>59.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>180.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.216.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.13</td>
  </tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.18">v3.8.18</a> GitHub documentation.

## <a id="2-0-2"></a> v2.0.2

**Release Date**: May 26, 2021

<p class="note breaking">
  <strong>Breaking Changes:</strong> The breaking changes listed for v2.0.0 also
  apply if you are upgrading from v1.21 to v2.0.2.
  See <a href="#2-0-0">Breaking Changes</a> below.
</p>

### Security Fixes

This release includes the following security fix:

* High [CVE-2021-30465](https://nvd.nist.gov/vuln/detail/CVE-2021-30465):
runc v1.0.0-rc94 and earlier allows a container file system breakout through
directory traversal.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

* **HTTP access logs can build up on disk and are not rotated as expected:** This is fixed in v2.0.6.

* **Smoke tests for the pre-provisioned offering fail if mTLS is enabled:**
This is fixed in v2.0.7, but requires additional configuration.
See [Provide SSL Certificates](install-config-pp.html#ssl) for details.

* **TLS support:** The on-demand broker does not support secure communications with the Cloud Controller over TLS. This is fixed in v2.0.9.

* **Disk and memory alarm metrics:** Instances running RabbitMQ v3.8 do not emit disk
and memory alarm metrics to the Loggregator subsystem.

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th>   <tr>
    <td>Erlang</td>
    <td>23.3.4</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.8.16</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td><%= vars.app_runtime_full%></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x, and 2.11.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.11</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.32.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>375.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>95.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>101.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>50.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.2.1</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.41.1</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>58.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>176.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.213.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.13</td>
  </tr>
</table>

<sup>*</sup> For more information, see the
<a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.16">v3.8.16</a> GitHub documentation.

## <a id="2-0-1"></a> v2.0.1

**Release Date**: May 21, 2021

<p class="note breaking">
  <strong>Breaking Changes:</strong> The breaking changes listed for v2.0.0 also
  apply if you are upgrading from v1.21 to v2.0.1.
  See <a href="#2-0-0">Breaking Changes</a> below.
</p>

### Maintenance Changes

Maintenance change in this release:

* **Updated RabbitMQ to v3.8.16:** For more information, see
[RabbitMQ 3.8.16](https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.16) in GitHub.

### Resolved Issues

This release has the following fix:

* **Compatible with Ruby buildpack v1.8.33 and later:** This version fixes the incompatibility
  with Ruby buildpack issue found in <%= vars.product_short %> v2.0.0.

### Known Issues

This release has the following issue:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

* **This release does not contain the fix to [CVE-2021-30465](https://nvd.nist.gov/vuln/detail/CVE-2021-30465):**
VMware recommends upgrading to v2.0.2 or later.

* **HTTP access logs can build up on disk and are not rotated as expected:** This is fixed in v2.0.6.

* **Smoke tests for the pre-provisioned offering fail if mTLS is enabled:**
This is fixed in v2.0.7, but requires additional configuration. See [the TLS documentation](install-config-pp.html#ssl) for details.

* **TLS support:** The on-demand broker does not support secure communications with the Cloud Controller over TLS. This is fixed in v2.0.9.

* **Disk and memory alarm metrics:** Instances running RabbitMQ v3.8 do not emit disk
and memory alarm metrics to the Loggregator subsystem.

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th>   <tr>
    <td>Erlang</td>
    <td>23.3.2</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.30</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.8.16</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td><%= vars.app_runtime_full%></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x, and 2.11.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.9</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.32.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>372.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>94.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>98.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>50.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.2.0</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.41.1</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>56.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>175.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.213.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.13</td>
  </tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.16">v3.8.16</a> GitHub documentation.

## <a id="2-0-0"></a> v2.0.0

**Release Date**: April 14, 2021

### Breaking Changes

Breaking changes in this release:

* **RabbitMQ Server Metrics**: RabbitMQ Server metrics for both pre-provisioned and on-demand are
now served using the `rabbitmq_prometheus` plugin. This changes the metrics emitted by the RabbitMQ
Server component.<br><br>
In <%= vars.product_short %> v1.x, queue depth and queue consumer metrics were emitted for every queue.<br>
In <%= vars.product_short %> v2.0, queue metrics are aggregated by default.<br><br>
For more information about the aggregation, see the
[RabbitMQ documentation](https://www.rabbitmq.com/prometheus.html#metric-aggregation).
For more information about the plugin, see [Prometheus Plugin](monitor.html#prometheus).
For the full list of metrics now emitted, see the
[rabbitmq-server](https://github.com/rabbitmq/rabbitmq-server/blob/master/deps/rabbitmq_prometheus/metrics.md)
repository in GitHub.

* **Updated Firehose Metrics format**: The underscore character has replaced all punctuation characters in
the metric name.
For example, the metric `/on-demand-broker/p.rabbitmq/single-node/total_instances` has become
`_on_demand_broker_p_rabbitmq_single_node_total_instances`.

* **TLS v1.0 and v1.1 are no longer supported:** Before upgrading to <%= vars.product_short %> v2.0,
  update apps that use TLS v1.0 or v1.1 to use TLS v1.2 or v1.3.

### Features

New features and changes in this release:

* **Expert users only — overriding the RabbitMQ server configuration:**
You can override the configuration applied by the <%= vars.product_short %> broker
or provide your own additional configuration to apply on RabbitMQ service instances.
For more information, see
[Expert Mode - Overriding RabbitMQ Server Configuration](expert-override-config.html).

* **Additional RabbitMQ server plugins for on-demand:** These plugins are available for on-demand services:<br>

    `rabbitmq_auth_backend_cache`, `rabbitmq_auth_backend_http`, `rabbitmq_auth_backend_ldap`,
    `rabbitmq_auth_mechanism_ssl`, `rabbitmq_jms_topic_exchange`, `rabbitmq_tracing`,
    `rabbitmq_trust_store`, `rabbitmq_web_mqtt`, `rabbitmq_web_mqtt_examples`, and `rabbitmq_web_stomp_examples`

    The plugins are disabled by default.
    For the complete list of plugins and for information about how to enable them,
    see [RabbitMQ Server Plugins](install-config.html#server-plugins)
    in _Installing and Configuring the On-Demand Service_.

* **TLS versions:** TLS v1.2 and v1.3 are supported.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

* **This release is incompatible with Ruby buildpack v1.8.33 and later:**
   Upgrades to this version of <%= vars.product_short %> fail the smoke test errand.
   This is fixed in v2.0.1.

* **This release does not contain the fix to [CVE-2021-30465](https://nvd.nist.gov/vuln/detail/CVE-2021-30465):**
VMware recommends upgrading to v2.0.2 or later.

* **HTTP access logs can build up on disk and are not rotated as expected:** This is fixed in v2.0.6.

* **Smoke tests for the pre-provisioned offering fail if mTLS is enabled:**
This is fixed in v2.0.7, but requires additional configuration.
See [Provide SSL Certificates](install-config-pp.html#ssl) for details.

* **TLS support:** The on-demand broker does not support secure communications with the Cloud Controller over TLS. This is fixed in v2.0.9.

* **Disk and memory alarm metrics:** Instances running RabbitMQ v3.8 do not emit disk
and memory alarm metrics to the Loggregator subsystem.

### Compatibility

The following components are compatible with this release:

<table class="nice">
  <th>Component</th>
  <th>Version</th>
  <tr>
    <td>Erlang</td>
    <td>23.2.7</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>1.8.29</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ<sup>*</sup></td>
    <td>3.8.14</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
  <tr>
    <td><%= vars.app_runtime_full%></td>
    <td>2.7.x, 2.8.x, 2.9.x, 2.10.x, and 2.11.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.1.9</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.32.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>366.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>93.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>48.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>94.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>6.2.0</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.40.0</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>55.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>174.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.213.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.13</td>
  </tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.8.14">v3.8.14</a> GitHub documentation.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the
top of this page.
