---
breadcrumb: VMware Tanzu RabbitMQ for VMs Documentation
title: Turning Off the Pre-Provisioned Service
owner: London Services
---

This topic provides instructions on how to turn off the pre-provisioned service.
If you are not planning to use the pre-provisioned service, disable it.
Disabling the pre-provisioned service broker means that no instances for the
pre-provisioned service will be deployed.  This, in turn, saves money.

<div class="note"><strong>Note: </strong><%= vars.note_pre_provisioned %></div>

## <a id="manual"></a> Disable the Pre-Provisioned Service Manually

To turn off the pre-provisioned service manually, do the following:

1. If you are upgrading to <%= vars.product_full %> v1.14, or have previously configured the pre-provisioned service,
de-register the pre-provisioned service broker by running the following command:

    ```
    bosh -d p-rabbitmq-GUID run-errand broker-deregistrar
    ```

    Where is `GUID` is the <%= vars.product_short %> deployment GUID.

    For example:

    <pre class="terminal">$ bosh -d p-rabbitmq-aeaea3ac-aba5-a6a4-afa7-aba8a0a7a0a9 run-errand broker-deregistrar</pre>

    The broker-deregistrar  errand removes the `p-rabbitmq` service offering from the Marketplace.

2. From the <%= vars.ops_manager %> Installation Dashboard, click the <%= vars.product_short %> tile.

3. In the <%= vars.product_short %> tile, click **Settings**.

4. Click **Pre-Provisioned RabbitMQ**, and click **No** under the **Deploy Pre-Provisioned service offering**.

    ![Screenshot of the pre-provisioned rabbitmq pane with yes no radio buttons for 'deploy pre-provisioned service offering'. No is selected.](pre-provision-turn-off-service.png)

1. Click **Save**, and then return to the <%= vars.ops_manager %> Installation Dashboard.

1. Click **Review Pending Changes**.
   For more information about this <%= vars.ops_manager %> page,
   see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html).

1. Click **Apply Changes** to redeploy and disable the pre-provisioned service.

## <a id="automation"></a> Disable the Pre-Provisioned Service Using Automation


You can turn off the pre-provisioned service if you are using automation such as scripts
or pipelines to configure the <%= vars.product_short %> tile.

To do this, set the `.properties.multitenant_support` property to `disabled`.
For more information about properties, see [Configure a Product](https://docs.pivotal.io/ops-manager/install/ops-man-api.html#configure-product) in the Ops Manager 
documentation.
When you make this change, <%= vars.ops_manager %> automatically sets instance counts to <code>0</code>.

<p class="note warning"><strong>WARNING:</strong>
  For instance groups related to the pre-provisioned service, such as <code>rabbitmq-server</code>,
  <code>rabbitmq-broker</code>, <code>rabbitmq-haproxy</code>, if you modify instance
  counts to a non-zero value, BOSH fails to deploy the tile.
  Although the fields are inactive in the UI, this does not prevent you
  from overwriting instance counts through the API.
  Only set instance counts to <code>0</code> or do not set them at all.</p>
